@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

.floating-pulse {
  animation: floatingPulse 2s infinite;
}

@keyframes floatingPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

/* Fade In Animation */

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}